.header-content {
    display: flex;
    flex-direction: row;
}

.header-content :nth-child(2){
    align-self: center;
}

.header-content :nth-child(3){
    margin-left: auto;
    align-self: center;
}